In [9]:
import pandas as pd
import pyodbc
import sqlite3

In [10]:
strings = {'servername': r'LAPTOP-EQ5HHEML\SQLEXPRESS',
      'database': 'datawarehouse',
      'password': '',
      'username': r'LAPTOP-EQ5HHEML\itsum'}

conn_str = (
    "DRIVER={SQL Server};Server=" + strings["servername"] + 
    ";Database=" + strings["database"] + 
    ";User ID=" + strings["username"] + 
    ";Password=" + strings["password"] + 
    "trusted_connection=yes;"
)

export_conn = pyodbc.connect(conn_str)
export_cursnor = export_conn.cursor()
export_cursnor

In [11]:
crm_conn = sqlite3.connect("../week 2/go_crm.sqlite")
sales_conn = sqlite3.connect("../week 2/go_sales.sqlite")
staff_conn = sqlite3.connect("../week 2/go_staff.sqlite")

retailer_site = pd.read_sql("SELECT * FROM retailer_site", crm_conn)
retailer_contact = pd.read_sql("SELECT * FROM retailer_contact", crm_conn)
retailer_segment = pd.read_sql("SELECT * FROM retailer_segment", crm_conn)
retailer_type = pd.read_sql("SELECT * FROM retailer_type", crm_conn)
age_group = pd.read_sql("SELECT * FROM age_group", crm_conn)
retailer = pd.read_sql("SELECT * FROM retailer", crm_conn)
retailer_headquarters = pd.read_sql("SELECT * FROM retailer_headquarters", crm_conn)
sales_demographic = pd.read_sql("SELECT * FROM sales_demographic", crm_conn)

retailer_site_contact = pd.merge(retailer_site, retailer_contact, on='RETAILER_SITE_CODE')
retailer_site_contact_retailer = pd.merge(retailer_site_contact, retailer, on='RETAILER_CODE')
retailer_site_contact_type = pd.merge(retailer_site_contact_retailer, retailer_type, on='RETAILER_TYPE_CODE')
segment_headquarters = pd.merge(retailer_segment, retailer_headquarters, on="SEGMENT_CODE")
retailer_site_contact_type_sh = pd.merge(segment_headquarters, retailer_site_contact_type, on="RETAILER_CODEMR")
age_sales_demo = pd.merge(age_group, sales_demographic, on="AGE_GROUP_CODE")
retailer_site_contact_type_sh_age = pd.merge(retailer_site_contact_type_sh, age_sales_demo, on="RETAILER_CODEMR")

retailer_site_contact_type_sh_age

,SEGMENT_CODE,LANGUAGE,SEGMENT_NAME,SEGMENT_DESCRIPTION,TRIAL222_x_x,...,LOWER_AGE,TRIAL219_y,DEMOGRAPHIC_CODE,SALES_PERCENT,TRIAL222_y
0,1,EN,Outdoors Shop - Exclusive,"Primarily offers camping supplies, hiking equi...",T,...,0,T,1268,7,T
1,1,EN,Outdoors Shop - Exclusive,"Primarily offers camping supplies, hiking equi...",T,...,21,T,1269,15,T
2,1,EN,Outdoors Shop - Exclusive,"Primarily offers camping supplies, hiking equi...",T,...,31,T,1270,31,T
3,1,EN,Outdoors Shop - Exclusive,"Primarily offers camping supplies, hiking equi...",T,...,41,T,1271,35,T
4,1,EN,Outdoors Shop - Exclusive,"Primarily offers camping supplies, hiking equi...",T,...,51,T,1272,10,T
...,...,...,...,...,...,...,...,...,...,...,...
2077,9,EN,Equipment Rental Store,Offers various sports and outdoors equipment f...,T,...,21,T,951,34,T
2078,9,EN,Equipment Rental Store,Offers various sports and outdoors equipment f...,T,...,31,T,952,5,T
2079,9,EN,Equipment Rental Store,Offers various sports and outdoors equipment f...,T,...,41,T,953,12,T
2080,9,EN,Equipment Rental Store,Offers various sports and outdoors equipment f...,T,...,51,T,954,5,T
2081,9,EN,Equipment Rental Store,Offers various sports and outdoors equipment f...,T,...,61,T,955,4,T

In [12]:
P = pd.read_sql("SELECT * FROM sales_staff", export_conn)
P

C:\Users\itsum\AppData\Local\Temp\ipykernel_33544\2425990690.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  P = pd.read_sql("SELECT * FROM sales_staff", export_conn)

Empty DataFrame
Columns: [SALES_STAFF_code, SALES_STAFF_first_name, SALES_STAFF_last_name, SALES_STAFF_extension, SALES_STAFF_work_phone, SALES_STAFF_fax, SALES_STAFF_email, SALES_STAFF_date_hired, SALES_STAFF_address1, SALES_STAFF_address2]
Index: []

In [13]:
pd.set_option('display.max_columns', 10)
retailer_site_contact_type_sh_age

,SEGMENT_CODE,LANGUAGE,SEGMENT_NAME,SEGMENT_DESCRIPTION,TRIAL222_x_x,...,LOWER_AGE,TRIAL219_y,DEMOGRAPHIC_CODE,SALES_PERCENT,TRIAL222_y
0,1,EN,Outdoors Shop - Exclusive,"Primarily offers camping supplies, hiking equi...",T,...,0,T,1268,7,T
1,1,EN,Outdoors Shop - Exclusive,"Primarily offers camping supplies, hiking equi...",T,...,21,T,1269,15,T
2,1,EN,Outdoors Shop - Exclusive,"Primarily offers camping supplies, hiking equi...",T,...,31,T,1270,31,T
3,1,EN,Outdoors Shop - Exclusive,"Primarily offers camping supplies, hiking equi...",T,...,41,T,1271,35,T
4,1,EN,Outdoors Shop - Exclusive,"Primarily offers camping supplies, hiking equi...",T,...,51,T,1272,10,T
...,...,...,...,...,...,...,...,...,...,...,...
2077,9,EN,Equipment Rental Store,Offers various sports and outdoors equipment f...,T,...,21,T,951,34,T
2078,9,EN,Equipment Rental Store,Offers various sports and outdoors equipment f...,T,...,31,T,952,5,T
2079,9,EN,Equipment Rental Store,Offers various sports and outdoors equipment f...,T,...,41,T,953,12,T
2080,9,EN,Equipment Rental Store,Offers various sports and outdoors equipment f...,T,...,51,T,954,5,T
2081,9,EN,Equipment Rental Store,Offers various sports and outdoors equipment f...,T,...,61,T,955,4,T

In [14]:
for index, row in retailer_site_contact_type_sh_age.iterrows():
    try:
        query = "INSERT INTO retailer VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)" 
        values = (
            row['RETAILER_SITE_CODE'],
            row['RETAILER_CONTACT_CODE'],
            row['FIRST_NAME'],
            row['LAST_NAME'],
            row['EXTENSION'],
            row['RETAILER_CODEMR'],
            row['COMPANY_NAME'],
            row['POSTAL_ZONE_x'],
            row['REGION_x'],
            row['CITY_x'],
            row['RETAILER_TYPE_EN'],
            row['RETAILER_TYPE_CODE'],
            row['COUNTRY_CODE_x'],
            row['SEGMENT_CODE'],
            row['GENDER'],
            row['AGE_GROUP_CODE']
        )         
        export_cursnor.execute(query, *values)
    except pyodbc.Error as e:
        print(f"Error inserting row {index}: {e}")
        print(query, values)

In [15]:
export_conn.commit()
export_cursnor.close()

In [17]:
l = pd.read_sql("SELECT * FROM retailer", export_conn)
l

C:\Users\itsum\AppData\Local\Temp\ipykernel_33544\1362877956.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  l = pd.read_sql("SELECT * FROM retailer", export_conn)

,RETAILER_id,RETAILER_site_code,RETAILER_contact_code,RETAILER_first_name,RETAILER_last_name,...,RETAILER_TYPE_code,RETAILER_COUNTRY_code,RETAILER_SEGMENT_code,RETAILER_gender,RETAILER_AGE_GROUP_code
0,1,205,191,Jean,Daumont,...,6,1,1,M,1
1,2,205,191,Jean,Daumont,...,6,1,1,M,2
2,3,205,191,Jean,Daumont,...,6,1,1,M,3
3,4,205,191,Jean,Daumont,...,6,1,1,M,4
4,5,205,191,Jean,Daumont,...,6,1,1,M,5
...,...,...,...,...,...,...,...,...,...,...,...
2077,2078,83,92,Andrea,Kennedy,...,5,3,9,F,2
2078,2079,83,92,Andrea,Kennedy,...,5,3,9,F,3
2079,2080,83,92,Andrea,Kennedy,...,5,3,9,F,4
2080,2081,83,92,Andrea,Kennedy,...,5,3,9,F,5
2081,2082,83,92,Andrea,Kennedy,...,5,3,9,F,6